<!DOCTYPE html>
{% load static %}
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />
    <meta name="description" content="au theme template" />
    <meta name="author" content="Hau Nguyen" />
    <meta name="keywords" content="au theme template" />
    <title>Dashboard</title>
    <link rel="stylesheet" href="{% static 'css/app.css' %}"/>
    <link rel="stylesheet" href="{% static 'css/navbar.css' %}"/>

    <link rel="stylesheet" href="{% static 'css/dashboard/dashboard.css' %}"/>

    <link rel="stylesheet" href="{% static 'css/product/product.css' %}"/>


  </head>

  <body>
{% include 'main/navbar.html' %}

    <div id="root">
      {% include 'main/sidebar.html' %} {% block content %}{% endblock %}
    </div>
  </body>
</html>
